.carousel-container{
    display: flex;
    align-items: center;
    height:2%;
    width:auto;
    margin: 0 auto 16px auto;
}
.carousel-img{
    height: auto;
    width:80%;
    border:solid 1px black;
}
.carousel-img:hover{
    transform: scale(1.1);
}
.carousel-btn{
    margin:auto 0 auto 0;
}
.carousel-btn > img {
    height:auto;
    width:50px;
}
@media screen and (min-width: 1024px){
    .carousel-container{
        height:200px;
    }
}

