.contact-form-container{
    display: flex;
    gap:10px;
    flex-direction: column;
    justify-content: center;
    margin:5% auto 0 auto;
    width:300px;
    border-radius: var(--global-border-radius);
    padding:3%;
    color:var(--font-color-secondary-dark-theme);
    background-color: var(--font-color-primary-dark-theme-alternate);
}
.contact-msg{
    height:150px;
}
.contact-form-submit-btn{
    margin:48px auto 0 auto;
}

.contact-speech{
  text-align: center;
}
