.navbar-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50px;
    width:50px;
    border:solid 2px var(--font-color-primary-dark-theme);
    border-radius: var(--global-border-radius);
}
.navbar-btn-line{
    display: flex;
    margin: 0 15% 0 15%;
    border: 1px solid var(--font-color-secondary-dark-theme);
}
.navbar-btn-line{
   animation-name: btn-line-anim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes btn-line-anim {
    0%{


    }
    100%{
        transform: rotate(45deg);
        object-fit: cover;
    }

}