:root{
  --bg-color-dark-theme:#3B3B3B;
  --font-color-primary-dark-theme:#FF8106;
  --font-color-primary-dark-theme-alternate:#4a4a4a;
  --font-color-secondary-dark-theme: #C4C4C4;
  --font-global:'Chakra Petch', sans-serif;
  --global-border-radius: 8px;
}

body{ list-style:none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color-dark-theme);
  font-family: var(--font-global);
}
a{
  text-decoration: none;
  color:var(--font-color-primary-dark-theme);
  display: inline-block;
}
h1,h2,h3{
  color:var(--font-color-primary-dark-theme)
}
li{
  list-style: none;
}
input, textarea{
  border-color:var(--font-color-primary-dark-theme);
  background-color:var(--font-color-secondary-dark-theme);
  border-radius: var(--global-border-radius);
  color:black;
}
button{
  background-color: var(--font-color-secondary-dark-theme);
  font-weight: bold;
  color:var(--bg-color-dark-theme);
  height:48px;
  width:80%;
  border-radius: var(--global-border-radius);
}
p{
  color:var(--font-color-secondary-dark-theme)
}
